fastapi==0.115.5
uvicorn[standard]==0.27.0
python-dotenv==1.0.0
langchain
langchain-community
langchain-ibm
ibm-watsonx-ai
chromadb==0.5.11
sentence-transformers>=2.2.2
numpy<2.0.0
pydantic>=2.7.4
pydantic-settings>=2.2.0
python-multipart==0.0.22
